@charset "UTF-8";

@media only screen and (min-width: 760px) {


    /* navegação */

    #navegation {
        justify-content: space-around; 
    }


    #menu-list {
        display: flex;
        position: static;
        width: auto;
        height: auto;
        background: black;
    }

    #menu-list > ul {
        display: flex;
        margin-top: 0;
    }

    #menu-list > ul > li {
        display: inherit;
        margin: 0;
        margin-left: 1.5rem;
    }


    #menu-list > ul > li > a {
        color: white;
        font-size: 1.2rem;
    }

    #menu-list > ul > li > a > i {
        font-size: 1rem;
    }


    .menu{ display: none;}



    /* main */


    #first-section {
        width: 100vw;
        height: 100vh;
    }


    #conteudo-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        height: 100vh;
        width: 100%;
    }

    .conteudo-principal-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 0;
        margin: 3rem 0;
    }
    
    .conteudo-principal-text > h1 {
        width: 100%;
        text-align: center;
        font-family: "Indie Flower", cursive;
        font-size: 50px;
        text-transform: uppercase;
        color: var(--yello);
    }
    
    .conteudo-principal-text > h2 {
        width: 100%;
        text-align: center;
        font-family: "Indie Flower", cursive;
        text-transform: uppercase;
    }

    #sobre-nos {
        flex-direction: row; 
        gap: 50px;  
    }

    #sobre-nos #text-sobre-nos {
        width: 410px;  
    }

    #contatos #contatos-infos > div {
        display: flex;
    }

    #contatos #contatos-infos > div  > span {
        margin-left: 2rem;
    }
    
}

@media only screen and (min-width: 1025px) {


    #cardapio #cardapio-principal > h1 {
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }


    #cardapio #cards {
        display: grid;
        grid-template-columns: auto auto;
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
    }

    #cards .card-pizza-infos {
        margin: 0;
    }
}