@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --yello: #f8b31e;
}

/* navegation */

#navegation {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    position: fixed;
    background-color: black;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img {
    width: 3.5em;
}

.logo > h3 {
    color: white;
}

#menu-list {
    display: none;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: black;
}

#menu-list > ul {
    margin-top: 75px;
}

#menu-list > ul > li {
    display: inherit;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
}

#menu-list > ul > li > a {
    color: white;
    font-size: 2rem;
}

#menu-list > ul > li > a:hover {
    color: var(--yello);
}

#menu-list > ul > li > a > i {
    font-size: 1.5rem;
}

#menu-list.ativo {
    display: block;
}

.menu {
    margin: 10px;
    padding-right: 15px;
    z-index: 1;
    cursor: pointer;
}

.menu .barra {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px;
    background: white;
}

.menu.ativo .barra:nth-child(1) {transform: translateY(8px) rotate(45deg);}
.menu.ativo .barra:nth-child(2) {opacity: 0;}
.menu.ativo .barra:nth-child(3) {transform: translateY(-8px) rotate(-45deg);}

/* main */

#first-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    background-image: linear-gradient(rgba(29, 29, 29, 0.555), rgb(0, 0, 0)), url(../img/fundopizza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

#conteudo-principal .conteudo-principal-text {
    text-transform: uppercase;
    width: auto;
    height: auto;
}


#conteudo-principal .conteudo-principal-text > h1 {
    padding: 5px 3rem;
    font-size: 3em;
    color: var(--yello); 
    font-family: 'Indie Flower', cursive;
}

#conteudo-principal .conteudo-principal-text > h2 {
    padding: 0 120px;
    font-family: 'Indie Flower', cursive;
    margin-top: 1rem;
}

#conteudo-principal .conteudo-principal-btn {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-top: rem;
}

#conteudo-principal .conteudo-principal-btn > button {
    width: 180px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    background: #f8b31e;
    font-size: 1.1rem;
    cursor: pointer;
}

/* sobre nós */

#sobre-nos {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    background-color: black;
}

#sobre-nos #text-sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-indent: 20px;
    text-align: justify;
    padding: 15px 25px 25px 25px;
    color: white;  
}

#sobre-nos #text-sobre-nos > h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
    
}

#sobre-nos #text-sobre-nos > p {
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    line-height: 1.5rem;
}

#sobre-nos #img-cozinha {
    width: 350px;
    height: 250px;

    border: 1px solid rgba(255, 255, 255, 0.445);
    background: url(../img/cozinha.jpg);
    background-size: cover;
}

/* cardapio */

#cardapio {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(rgba(12, 12, 12, 0.897), rgba(15, 15, 15, 0.932)), url(../img/cardapio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

#cardapio #cardapio-principal {
    padding: 25px;
}

#cardapio #cardapio-principal > h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}

#cardapio #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cards .card-pizza-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 450px;
    margin-top: 50px;
    border: 1px solid black;
    background-color: rgb(90, 80, 80);
    margin-bottom: 50px;  
}

.card-pizza-infos .card-img-pizzas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 550px;
    border: 1px solid black;
}

.card-pizza-infos .card-img-pizzas > img {
    width: 100%;
    height: 100%;
}

.list-card-pizza {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgb(221, 221, 221);
}

.list-card-pizza > h3 {
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 10px;
}

.list-card-pizza > h4 {
   font-size: 1.1rem;
   text-align: center;
   text-transform: uppercase;  
   margin-bottom: 8px;
}

.list-card-pizza > h4 > span {
    font-size: 1.4rem;
    color:#585858;
    margin-left: 10rem;
    text-decoration: underline;
}

.list-card-pizza > button {
    width: 250px;
    height: 40px;
    margin: 10px 0 20px 0;
    text-transform: uppercase;
    font-size: 1.1rem;
    background: var(--yello);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* contatos */

#contatos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: black;
}

#contatos #contatos-infos {
    color: white;
    text-align: center;
}

#contatos #contatos-infos > h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

#contatos #contatos-infos > span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
}

#contatos #contatos-infos > span > i {
    margin-right: 10px;
}

/* header */

#header-inf {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
}