@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html { 
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --yello: #f8b31e;
}

/* navegation */

#navegation {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    position: fixed;
    background-color: black;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img {
    width: 3.5em;
}

.logo > h3 {
    color: white;
}

#menu-list {
    display: none;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    background: black;
}

#menu-list > ul {
    margin-top: 75px;
}

#menu-list > ul > li {
    display: inherit;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
}

#menu-list > ul > li > a {
    color: white;
    font-size: 2rem;
}

#menu-list > ul > li > a > i {
    font-size: 1.5rem;
}

#menu {
    margin: 10px;
    z-index: 1;
}

#menu .barra-menu {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px;
    background: white;
    overflow-y: hidden;
}

/* main */

#first-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    background-image: linear-gradient(rgba(29, 29, 29, 0.555), rgb(0, 0, 0)), url(../img/fundopizza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin-top: 80px;
}

#conteudo-principal .conteudo-principal-text {
    margin: 75px 0 70px 0;
    text-transform: uppercase;
}


#conteudo-principal .conteudo-principal-text > h1 {
    padding: 25px 25px 10px 25px;
    font-size: 3.5em;
    color: var(--yello); 
    font-family: 'Indie Flower', cursive;
}

#conteudo-principal .conteudo-principal-text > h2 {
    padding: 0 120px;
    font-family: 'Indie Flower', cursive;
}

#conteudo-principal .conteudo-principal-btn {
    display: flex;
    flex-direction: column;
}

#conteudo-principal .conteudo-principal-btn > button {
    width: 180px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    background: #f8b31e;
    font-size: 1.1rem;
}

/* sobre nós */

#sobre-nos {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: top;
    justify-content: center;
    text-align: justify;
    background-color: black;
}

#sobre-nos #text-sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-indent: 20px;
    padding: 10px;
    margin-top: 50px;
    color: white;
    
}

#sobre-nos #text-sobre-nos > h2 {
    margin-bottom: 20px;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
    
}

#sobre-nos #text-sobre-nos > p {
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    line-height: 1.5rem;
}